<!DOCTYPE html>

<html>
<head>
  <title>Visualisation</title>
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../static/stylesheets/graphs.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
</head>
<body>
<div class="ui vertically divided grid">
  <div class="two column row">
    <div class="column">

      <div class="ui medium header" style="margin-left: 2%; margin-top: 2%;">Average Likes by Keyword</div>

      <div class="ui segment bar_chart" style="margin: 1%">

        <!--loader-div-->
        <div class="bar_processing_div">
          <div class="ui icon message">
            <i class="notched circle loading icon"></i>
            <div class="content">
              <div class="header">
                Hold on
              </div>
              <p>Crunching data for you...</p>
            </div>
          </div>
        </div>

        <!--error-div-->
        <div class="bar_error_div"
             style="display: none;">
          <div class="ui negative message">
            <div class="header">
              We're sorry
            </div>
            <p>Couldn't get data</p>
          </div>
        </div>

        <div class="ui bar_data_div">

        </div>

      </div>

    </div>
    <div class="column">
      <div class="ui medium header" style="margin-left: 2%; margin-top: 2%;">Medium Header</div>
      <p></p>
    </div>
  </div>
</div>

<script src='../static/javascripts/graphs.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>

</body>
</html>
